
### 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다

#### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [1]:
samsung = int(input());
stock = samsung * 10
print(stock, "원")

 50000

500000 원

#### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
- 항목	값
- 시가총액	298조
- 현재가	50,000원
- PER	15.79

In [35]:
per = 15.79
stock = 50000
total_amount = 2980000000000
net_profit = total_amount / per
eps = stock / per

print("PER이 %f이다. 이때 시가총액 %d원이므로 순이익은 %d원, 현재 주가는 %d원이므로, 현재 주당 순이익은 %d원이다." 
      %(per, total_amount, net_profit, stock, eps))
print(f"PER이 {per}이다. 이때 시가총액이 {total_amount}원이므로 순이익은 {net_profit}원, 현재 주가는 {stock}원이므로, 현재 주당 순이익은 {eps}원이다.")

PER이 15.790000이다. 이때 시가총액 2980000000000원이므로 순이익은 188727042431원, 현재 주가는 50000원이므로, 현재 주당 순이익은 3166원이다.
PER이 15.79이다. 이때 시가총액이 2980000000000원이므로 순이익은 188727042431.91895원, 현재 주가는 50000원이므로, 현재 주당 순이익은 3166.5611146295123원이다.

#### 013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [41]:
s = "hello"
t = "python"

print("%s! %s" %(s, t))
print(f"{s}! {t}")

hello! python
hello! python

#### 014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.
- 2 + 2 * 3

In [7]:
num1 = 2
num2 = 2
add = num1 + num2 * 3
print(add)

8

#### 015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

- a = 128
- print (type(a))
- <class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [9]:
a = "132"
print(type(a))

<class 'str'>

#### 016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [21]:
num_str = "720"
int(num_str)

720

#### 017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [17]:
num = 100
str(num)

'100'

#### 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [19]:
str_float = "15.79"
float(str_float)

15.79

#### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [39]:
year = "2020"
print(int(year), int(year) - 1, int(year) - 2, int(year) - 3)

2020 2019 2018 2017

#### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [27]:
num = 48584
amount = num * 36
print(amount, "원")

1749024 원