
### 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

#### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

In [1]:
a = "3" 
b = "4" 
print(a + b)

34

#### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

In [2]:
print("Hi" * 3)

HiHiHi

#### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

- 실행 예:
- "--------------------------------------------------------------------------------"

In [3]:
print("-" * 80)

--------------------------------------------------------------------------------

#### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

In [3]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3)
print(t3 * 4)

python java
python java python java python java python java

#### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

- name1 = "김민수" 
- age1 = 10
- name2 = "이철희"
- age2 = 13

[결과 값]
- 이름: 김민수 나이: 10
- 이름: 이철희 나이: 13

In [5]:
# print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미합니다.
name1 = "김민수" 
age1 = 10

print("이름: %s 나이: %d" % (name1, age1))

이름: 김민수 나이: 10

In [4]:
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name2, age2))

이름: 이철희 나이: 13

#### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [6]:
# 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 { }를 적어주면 됩니다.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [7]:
# f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 {변수}와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

In [8]:
# 정수형으로 타입을 변환하려면 int( ) 함수를 사용하면 됩니다. 이때 숫자 형태의 문자열에 컴마가 있는 경우 바로 변환된지 않습니다. 먼저 문자열의 replace 메서드로 컴마를 제거한 후 변환해야합니다.

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")

타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

#### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [9]:
# 문자열에서 슬라이싱을 사용하면 여러 글자를 접근할 수 있습니다.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

#### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [10]:
# 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자