
### 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

#### 071. my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_variable = ()

#### 072. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

#### 순위	영화
- 1	닥터 스트레인지
- 2	스플릿
- 3	럭키

In [5]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

#### 073. 숫자 1 이 저장된 튜플을 생성하라.

In [13]:
num_tuple = (1,)
num_tuple

(1,)

#### 074. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

- t = (1, 2, 3)
- t[0] = 'a'
#### Traceback (most recent call last):
####   File "<pyshell#46>", line 1, in <module>
####     t[0] = 'a'
#### TypeError: 'tuple' object does not support item assignment

In [17]:
t = (1, 2, 3)
t[0] = 'a'
# tuple은 수정이 불가능한 데이터 타입이기 때문이다.

TypeError: 'tuple' object does not support item assignment

#### 065. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

- interest = ['삼성전자', 'LG전자', 'Naver']
#### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

- 출력 예시:삼성전자 Naver

In [21]:
interest = ['삼성전자', 'LG전자', 'Naver']
interest[0:3:2]

['삼성전자', 'Naver']

#### 076. 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [37]:
t = ('a', 'b', 'c')
print(t)
t = ('A', 'b', 'c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

#### 077. 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [23]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
interest_list

['삼성전자', 'LG전자', 'SK Hynix']

#### 078. 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [25]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tuple = tuple(interest)
interest_tuple

('삼성전자', 'LG전자', 'SK Hynix')

#### 079. 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

- temp = ('apple', 'banana', 'cake')
- a, b, c = temp
- print(a, b, c)

In [39]:
# apple, banana, cake가 각각 들어가서 출력된다.
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

#### 080. range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [35]:
nums = tuple(range(2, 100, 2))
print(nums, end = (' '))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
[문제1] 1부터 사용자가 입력한 숫자까지의 약수와 소수를 리스트에 각각 작성하고, 이것을 출력하는 프로그램을 작성하시오

In [50]:
input_num = int(input())
all_num = list(range(1, input_num+1))
measure = []
decimal = []

for i in all_num:
    if input_num % i == 0 :
        measure.append(i)

for i in range(1, input_num+1):
    count = 0
    for j in range(1, i+1) :
        if i % j != 0 :
            count += 1
    if count == i-2:
        decimal.append(i)

print(measure)
print(decimal)

 100

[1, 2, 4, 5, 10, 20, 25, 50, 100]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
[Tuple_문제] 아래 tuple1, tuple2 합집합과 교집합을 구하여라
- tuple1 = (1, 3, 2, 6, 12, 5, 7, 8)
- tuple2 = (0, 5, 2, 9, 8, 6, 17, 3)

In [60]:
tuple1 = (1, 3, 2, 6, 12, 5, 7, 8)
tuple2 = (0, 5, 2, 9, 8, 6, 17, 3) 
set1 = set(list(tuple1))
set2 = set(list(tuple2))
intersection_set = list1.intersection(list2)
union_set = list1.union(list2)
print(intersection_set)
print(union_set)

tuple1 = tuple(intersection_set)
tuple2 = tuple(union_set)
print(tuple1)
print(tuple2)

{2, 3, 5, 6, 8}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 12, 17}
(2, 3, 5, 6, 8)
(0, 1, 2, 3, 5, 6, 7, 8, 9, 12, 17)