
### 파이썬 클래스는 타입을 만들어내는 도구입니다. int, float, str과 같이 여러분의 새로운 타입을 만들 수 있습니다.

#### 251 클래스, 객체, 인스턴스
클래스, 객체, 인스턴스에 대해 설명해봅시다.

In [ ]:
클래스 - 객체를 정의하고 만들기 위한 변수와 메서드의 집합
객체 - 실제로 존재하는 모든것(변수, 함수)
인스턴스 - 클래스와 연관되어 있는 객체

#### 252 클래스 정의
비어있는 사람 (Human) 클래스를 "정의" 해보세요.

In [ ]:
class Human :
    pass

#### 253 인스턴스 생성
사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.

In [18]:
class Human :
    pass

areum = Human()

#### 254 클래스 생성자-1
사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

In [20]:
class Human :
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

#### 255 클래스 생성자-2
사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

In [22]:
class Human :
    def __init__(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender
        print(self.name, self.age, self.gender)

areum = Human("홍길동", 23, "남성")
print(areum.name)

홍길동 23 남성
홍길동

#### 256 인스턴스 속성에 접근
255에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 인스턴스 변수에 접근하여 값을 출력하면 됩니다.

In [24]:
person = Human("홍길동", 23, "남성")

홍길동 23 남성

#### 257 클래스 메소드 - 1
사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.

print("A")

def message() :
>    print("B")

print("C")
message()

In [26]:
class Human :
    def __init__(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self) :
        print(self.name, self.age, self.gender)
areum = Human("홍길동", 23, "남성")
areum.who()

홍길동 23 남성

#### 258 클래스 메소드 - 2
사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

In [30]:
class Human :
    def __init__(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self) :
        print(self.name, self.age, self.gender)

    def setInfo(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender

areum = Human("불명", "미상", "모름")
areum.who()

areum = setInfo("유관순", 19, "여자")
areum.who()

불명 미상 모름

NameError: name 'setInfo' is not defined

#### 259 클래스 소멸자
사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

In [36]:
class Human :
    def __init__(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self) :
        print(self.name, self.age, self.gender)

    def setInfo(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender

    def __del__(self) :
        print("나의 죽음을 알리지 마라")

areum = Human("유관순", 19, "여자")
areum.who()
del(areum)

유관순 19 여자
나의 죽음을 알리지 마라

#### 260 에러의 원인
아래와 같은 에러가 발생한 원인에 대해 설명하세요.

> class OMG : 
>>     def print() :
>>         print("Oh my god")

> myStock = OMG()
> myStock.print()
> TypeError Traceback (most recent call last)
> <ipython-input-233-c85c04535b22> in <module>()
>> ----> myStock.print()

> TypeError: print() takes 0 positional arguments but 1 was given

In [ ]:
데이터 인자를 받는 것이 존재하지 않는데 데이터 인자를 받았기 때문에 발생하는 오류이다.

#### 261 Stock 클래스 생성
주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.

In [ ]:
class Stock :
    pass

#### 262 생성자
Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

In [38]:
class Stock :
    def __init__(self, company_name, company_code) :
        self.company_name = company_name
        self.company_code = company_code

company = Stock("삼성전자", "005930")
print(company.company_name)
print(company.company_code)

삼성전자
005930

#### 263 메서드
객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.

In [40]:
class Stock :
    def __init__(self, company_name, company_code) :
        self.company_name = company_name
        self.company_code = company_code

    def set_name(self, company_name) :
        self.company_name = company_name

a = Stock(None, None)
a.set_name("삼성전자")
print(a.company_name)

삼성전자

#### 264 메서드
객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.

In [42]:
class Stock :
    def __init__(self, company_name, company_code) :
        self.company_name = company_name
        self.company_code = company_code

    def set_name(self, company_name) :
        self.company_name = company_name

    def set_code(self, company_code) :
        self.company_code = company_code

a = Stock(None, None)
a.set_name("삼성전자")
print(a.company_name)
a.set_code("005930")
print(a.company_code)

삼성전자
005930

#### 265 메서드
종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.

삼성 = Stock("삼성전자", "005930")

In [46]:
class Stock :
    def __init__(self, company_name, company_code) :
        self.company_name = company_name
        self.company_code = company_code

    def set_name(self, company_name) :
        self.company_name = company_name

    def set_code(self, company_code) :
        self.company_code = company_code

    def get_name(self) :
        return self.company_name
        
    def get_code(self) :
        return self.company_code

samsung = Stock("삼성전자", "005930")
print(samsung.company_name)
print(samsung.company_code)
print(samsung.get_name())
print(samsung.get_code())

삼성전자
005930
삼성전자
005930

#### 266 객체의 속성값 업데이트
생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. PER, PBR, 배당수익률은 float 타입입니다.

In [54]:
class Stock :
    def __init__(self, company_name, company_code, per, pbr, dividend_yield) :
        self.company_name = company_name
        self.company_code = company_code
        self.per = per
        self.pbr = pbr
        self.dividend_yield = dividend_yield

    def set_name(self, company_name) :
        self.company_name = company_name

    def set_code(self, company_code) :
        self.company_code = company_code

    def get_name(self) :
        return self.company_name
        
    def get_code(self) :
        return self.company_code

#### 267 객체 생성
266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.


- 항목 |정보
- 종목명 | 삼성전자
- 종목코드 | 005930
- PER	| 15.79
- PBR	| 1.33
- 배당수익률 |	2.83

In [64]:
samsung = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(samsung.dividend_yield)

2.83

#### 268. 객체의 속성 수정
PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

In [66]:
class Stock :
    def __init__(self, company_name, company_code, per, pbr, dividend_yield) :
        self.company_name = company_name
        self.company_code = company_code
        self.per = per
        self.pbr = pbr
        self.dividend_yield = dividend_yield

    def set_name(self, company_name) :
        self.company_name = company_name

    def set_code(self, company_code) :
        self.company_code = company_code

    def set_per(self, per) :
        self.per = per

    def set_pbr(self, pbr) :
        self.pbr = pbr

    def set_dividend(self, dividend_yield) :
        self.dividend_yield = dividend_yield

    def get_name(self) :
        return self.company_name
        
    def get_code(self) :
        return self.company_code

#### 269. 객체의 속성 수정
267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

In [68]:
samsung = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
samsung.set_per(12.75)
print(samsung.per)

12.75

#### 270. 여러 종목의 객체 생성
아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요. 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

- 종목명	종목코드	PER	PBR	배당수익률
- 삼성전자	005930	15.79	1.33	2.83
- 현대차	005380	8.70	0.35	4.27
- LG전자	066570	317.34	0.69	1.37

In [74]:
class Stock :
    def __init__(self, company_name, company_code, per, pbr, dividend_yield) :
        self.company_name = company_name
        self.company_code = company_code
        self.per = per
        self.pbr = pbr
        self.dividend_yield = dividend_yield

    def set_name(self, company_name) :
        self.company_name = company_name

    def set_code(self, company_code) :
        self.company_code = company_code

    def set_per(self, per) :
        self.per = per

    def set_pbr(self, pbr) :
        self.pbr = pbr

    def set_dividend(self, dividend_yield) :
        self.dividend_yield = dividend_yield

    def get_name(self) :
        return self.company_name
        
    def get_code(self) :
        return self.company_code

stocks = []
Samsung = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
LG = Stock("LG전자", "066570", 317.34, 0.69, 1.37)
Hyundai = Stock("현대차", "005380", 8.70, 0.35, 4.27)

stocks.append(Samsung)
stocks.append(Hyundai)
stocks.append(LG)

for i in stocks :
    print(i.company_code, i.per)

005930 15.79
005380 8.7
066570 317.34

#### 271. Account 클래스
은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. Account 클래스를 생성한 후 생성자를 구현해보세요. 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.
- 은행이름: SC은행
- 계좌번호: 111-11-111111

In [ ]:
import random

class Account :
    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = "SC 은행"
        num1 = random.randint(0, 99)

#### 272. 클래스 변수
클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.

#### 273. 클래스 변수 출력
Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

#### 274. 입금 메서드
Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.

#### 275. 출금 메서드
Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.

#### 276. 정보 출력 메서드
Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요. 잔고는 세자리마다 쉼표를 출력하세요.

- 은행이름: SC은행
- 예금주: 파이썬
- 계좌번호: 111-11-111111
- 잔고: 10,000원

#### 277. 이자 지급하기
입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.

#### 278. 여러 객체 생성
Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장해보세요.

#### 279. 객체 순회
반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하세요.

#### 280. 입출금 내역
입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드를 추가하세요.

#### 281. 클래스 정의
다음 코드가 동작하도록 차 클래스를 정의하세요.

>> car = 차(2, 1000)
>> car.바퀴
2
>> car.가격
1000

#### 282. 클래스 상속
차 클래스를 상속받은 자전차 클래스를 정의하세요.

#### 283. 클래스 상속
다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

>> bicycle = 자전차(2, 100)
>> bicycle.가격
100

#### 284. 클래스 상속
다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

- bicycle = 자전차(2, 100, "시마노")
- bicycle.구동계
- 시마노

#### 285. 클래스 상속
다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

- car = 자동차(4, 1000)
- car.정보()
- 바퀴수 4
- 가격 1000

#### 286. 부모 클래스 생성자 호출
다음 코드가 동작하도록 자전차 클래스를 수정하세요.

- bicycle = 자전차(2, 100, "시마노")
- bicycle.정보()
- 바퀴수 2
- 가격 100

#### 287. 부모 클래스 메서드 호출
자전차의 정보() 메서드로 구동계 정보까지 출력하도록 수정해보세요.

- bicycle = 자전차(2, 100, "시마노")
- bicycle.정보()
- 바퀴수 2
- 가격 100
- 구동계 시마노

#### 288. 메서드 오버라이딩
다음 코드의 실행 결과를 예상해보세요.

> class 부모:
>>   def 호출(self):
>>>     print("부모호출")

> class 자식(부모):
>>   def 호출(self):
>>>     print("자식호출")
- 나 = 자식()
- 나.호출()

#### 289 생성자
다음 코드의 실행 결과를 예상해보세요.

> class 부모:
>>   def __init__(self):
>>>     print("부모생성")

> class 자식(부모):
>>   def __init__(self):
>>>     print("자식생성")
- 나 = 자식()

#### 290. 부모클래스 생성자 호출
다음 코드의 실행 결과를 예상해보세요.

> class 부모:
>>   def __init__(self):
>>>     print("부모생성")

> class 자식(부모):
>>   def __init__(self):
>>>     print("자식생성")
>>>     super().__init__()

- 나 = 자식()

In [ ]:
291 ~ 300 문제

In [ ]:
file_loc = open("C:/Users/hyunh/Desktop/매수종목1.txt", mode="wt", encoding="utf-8")
file_loc.write("005930\n")
file_loc.write("005380\n")
file_loc.write("035420")
file_loc.close()

In [ ]:
file_loc = open("C:/Users/hyunh/Desktop/매수종목2.txt", mode="wt", encoding="utf-8")
file_loc.write("005930 삼성전자\n")
file_loc.write("005380 현대차\n")
file_loc.write("035420 NAVER\n")
file_loc.close()

In [ ]:
import csv

file_loc = open("C:/Users/hyunh/Desktop/매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(file_loc)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
file_loc.close()

In [ ]:
file_loc = open("C:/Users/hyunh/Desktop/매수종목1.txt", encoding="utf-8")
lines = file_loc.readlines()   # python list

codes = []
for line in lines:
    code = line.strip()  #'\n'
    codes.append(code)

print(codes)

file_loc.close()

In [ ]:
file_loc = open("C:/Users/hyunh/Desktop/매수종목2.txt", encoding="utf-8")
lines = file_loc.readlines()

data = {}
for line in lines:
    line = line.strip()     # '\n' 제거
    k, v = line.split()
    #print(k, v)
    data[k] = v

print(data)
file_loc.close()

In [ ]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

In [ ]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

In [ ]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

In [ ]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

In [ ]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")