In [ ]:
자료형
1.숫자형
1.1.정수형 int
1.2.실수형 float, double
2.문자형 
3.논리형 (True/False)
list  : [1, '1', 2, 3.12, True]
tuple : (1, '1', 2, 3.12, True)
set   : (1, 2, 3, 2, 1) => (1, 2, 3)
dictionary : ('홍길동', 'A', '유관순', 'B')

연산자
1. 산술연산자
2. 관계연산자
3. 논리연산자
4. 대입연산자

In [29]:
var_int = 3
print(var_int)
print(type(var_int))

var_int = 10
print(var_int)
var_float = 3.14
print(var_float)
print(type(var_float))

3
<class 'int'>
10
3.14
<class 'float'>

In [37]:
var_char = 'a'
print(var_char)
print(type(var_char))

var_str = "a"
print(var_str)
print(type(var_str))
print("var_str의 길이 : ", len(var_str))

var_str = "def"
print(var_str)
print(type(var_str))
print("var_str의 길이 : ", len(var_str))

a
<class 'str'>
a
<class 'str'>
var_str의 길이 :  1
def
<class 'str'>
var_str의 길이 :  3

In [17]:
var_str_1 = "abc"
var_str_2 = "def"
print("var_str_1 :", var_str_1)
print("var_str_2 :", var_str_2)

var_str_1 : abc
var_str_2 : def

In [43]:
# 형변환
# 실수 <-> 정수
# 실수 <-> 문자 <-> 정수
int(3.45)
float(3)
str(3.45)

'3.45'

In [49]:
var_int = 10
var_str = str(var_int)
print("var_str : ", var_str)

var_str :  10

In [51]:
var_str * 2

'1010'

In [57]:
num1 = 100
num2 = 20

add = num1 + num2
print(add)

div = num1 / num2
print(div)

min = num1 - num2
print(min)

mul = num1 * num2
print(mul)

square = num1 ** 2
print(square)

120
5.0
80
2000
10000

In [59]:
i = tot = 10
i += 1
tot += i
print(i, tot)

11 21

In [63]:
# 패킹(packing)
lst = [1, 2, 3, 4, 5]
v1, *v2, v3 = lst
print(v1, v2, v3)

1 [2, 3, 4] 5

In [ ]:
fn(v1, v2, v3) :
    add = v1 + v3
    lst = v2 * 3

In [73]:
num1 = 10.3; num2 = 20.4
tot = num1 + num2
print('10 + 20 = %d' %tot) # tot(30)
print('%d + %d = %d' %(num1, num2, tot))
print('%f + %f = %f' %(num1, num2, tot))
print('이름은 %s 이고, 나이는 %d입니다.' %('홍길동', 35))

10 + 20 = 30
10 + 20 = 30
10.300000 + 20.400000 = 30.700000
이름은 홍길동 이고, 나이는 35입니다.

In [75]:
print('이름은 {}이고, 나이는 {} 입니다.' .format('홍길동', 35))
print('이름은 {1}이고, 나이는{0} 입니다.' .format(35, '홍길동'))
name = "홍길동"; age = 35
print(f"이름은 {name}이고, 나이는 {age}입니다.")

이름은 홍길동이고, 나이는 35 입니다.
이름은 홍길동이고, 나이는35 입니다.
이름은 홍길동이고, 나이는 35입니다.

In [81]:
a = int(input('첫 번째 숫자 입력 : '))
b = int(input('두 번째 숫자 입력 : '))
c = int(input('세 번째 숫자 입력 : '))

add = a + b
min = a - c
div = c / b
mul = b * c
print(add)
print(min)
print(div)
print(mul)

첫 번째 숫자 입력 :  40
두 번째 숫자 입력 :  20
세 번째 숫자 입력 :  10

60
30
0.5
200

In [83]:
a = float(input('첫번째 숫자 입력 : '))
b = float(input('두번째 숫자 입력 : '))

add = a + b
print(add)

첫번째 숫자 입력 :  10.5
두번째 숫자 입력 :  20.3

30.8

In [85]:
print(int(24.5)) # 24
print(2 + int('2')) # 4

24
4

In [87]:
print(int(True)) # 1
print()
print(int(False)) # 0

1

0

In [5]:
print('010', '1234', '5678', sep = '-', end = '')

010-1234-5678

In [97]:
print("first", end = ' ')
print("second")

first second

In [7]:
# 문자(character) : 1차
# 문자열 (string) : 문자들의 집합
# oneline : "this is one line string"
# print(oneline)
multiLine = """this is
multi line
string """
print(multiLine)

this is
multi line
string

In [11]:
string = "python"
print(string[-5])

y

In [13]:
print("python" + " " + "program")

python program

In [19]:
v1 = 3.7
print("python-" + str(v1) + ".exe")

python-3.7.exe

In [27]:
# slicing 슬라이싱
oneline = "this is one line string"
print(oneline)
print(oneline[:])
print(oneline[0:4])
print(oneline[:4])
print(oneline[:10:2])
print(oneline[-6:])
print(oneline[:-1:-2])
print(oneline[-1])
print(oneline[-6:-1:-2])

this is one line string
this is one line string
this
this
ti so
string

g

In [35]:
print('t 글자 수 : ', oneline.count('t'))
print(oneline.startswith('this'))
print(oneline.startswith('that'))
print(oneline.replace(' ', ''))
words = oneline.split(' ')
print('단어 : ', words)

t 글자 수 :  2
True
False
thisisonelinestring
단어 :  ['this', 'is', 'one', 'line', 'string']

In [ ]:
# 제조
2024071610075232.624...

In [41]:
# 이스케이프(escape) 문자 : \n(엔터), \t(탭)
print(r"\t 출력 이스케이프 문자")
print("\\n 출력 이스케이프 문자")

\t 출력 이스케이프 문자
\n 출력 이스케이프 문자

In [45]:
v1 = 'C:\Python\\test'
print('path = ', v1)

path =  C:\Python\test

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\user\AppData\Local\Temp\ipykernel_2400\1733880221.py:1: SyntaxWarning: invalid escape sequence '\P'
  v1 = 'C:\Python\\test'

In [47]:
print("c:\\\'aa\'\\\"abc.txt\"")

c:\'aa'\"abc.txt"

In [ ]:
# 자료 구조형
1. string
2. list - 모든 타입 가능 , 인덱스 > 슬라이싱 list(), 삽입(insert, 추가(append), 변경(del list1 = '값'), 삭제(remove)
3. tuple - 모든 타입 가능 , 인덱스 > 슬라이싱 tuple() > 원소값을 변경할 수 없음(Immutable)
4. set - 중복 허용안함 set()
5. dict - 모든 타입 가능 , 인덱스, 키 > 값(keys()/values(), items()

In [ ]:
# string 문자들의 모음, 일정한 순서 > 인덱스 > 슬라이싱
# list['문자형', '숫자형', '논리형'] 차원 배열 구조 ['문자형', '숫자형', '논리형', ['문자형', '숫자형', '논리형']]
#                                    다양한 자료형 값을 가질 수 있다. 값을 삽입 insert, 추가 append, 수정 update 함수X , 삭제 delete

In [49]:
lst = [1, 2, 3, 4, 5]
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

In [53]:
for i in lst :
    print(i)
    print(lst[:i])
    print(lst[i-1:])

1
[1]
[1, 2, 3, 4, 5]
2
[1, 2]
[2, 3, 4, 5]
3
[1, 2, 3]
[3, 4, 5]
4
[1, 2, 3, 4]
[4, 5]
5
[1, 2, 3, 4, 5]
[5]

In [55]:
x = list(range(1, 11))
print(x)
print(x[:5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]

In [ ]:
b = [10, 20, ['a', 'b', 'c'], 5, True, "문자열"]
print(b[0])

In [65]:
# 튜플 tuple 수치형, 문자형, 불린형
# - 수정 불가 > 함수 제공 없음
# - 리스트 보다 속도 빠름
t = 10
print(t)
print(type(t))
t1 = (10,)
print(t1)
print(type(t1))
t2 = (1, 2, 3, 4, 5)
print(t2)
print(t2[1:3])
t2[1] = 10

10
<class 'int'>
(10,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(2, 3)

TypeError: 'tuple' object does not support item assignment

In [69]:
var_list = list(range(1, 11))
var_tuple = tuple(range(1,11))
print('var_tuple = ', var_tuple)
var_list = list(var_tuple)
print('var_list = ', var_list)

var_tuple =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
var_list =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# set - 순서가 없다. 중복허용을 하지 않음, 합집합, 교집합, 차집합

In [71]:
s = {1, 2, 3, 5, 3, 1}
s2 = { 3, 6 }
print('합집합 = ', s.union(s2))
print('교집합 = ', s.intersection(s2))
print('차집합 = ', s.difference(s2))

합집합 =  {1, 2, 3, 5, 6}
교집합 =  {3}
차집합 =  {1, 2, 5}

In [73]:
s3 = {1, 3, 5}
s3.add(7)
s3.update([3, '다섯'])
s3

{1, 3, 5, 7, '다섯'}

In [ ]:
# dictionary {} {key1:value1, key2:value2, ..., keyn:valuen}
# .json 키로 값에 접근 (인덱스 없음)

In [75]:
var_dic = {'key1':100, 'key2':200, 'key3':300}
print(var_dic)

{'key1': 100, 'key2': 200, 'key3': 300}

In [81]:
person = {'name':'홍길동', 'age':35, 'address':'서울시'}
print(person)
print(person['address'])
print(type(person))

{'name': '홍길동', 'age': 35, 'address': '서울시'}
서울시
<class 'dict'>

In [87]:
person['age'] = 40
person['pay'] = 350
print(person)

{'name': '홍길동', 'age': 40, 'address': '서울시', 'pay': 350}

In [91]:
print(person.keys())
print(person.values())
print(person.items())

dict_keys(['name', 'age', 'address', 'pay'])
dict_values(['홍길동', 40, '서울시', 350])
dict_items([('name', '홍길동'), ('age', 40), ('address', '서울시'), ('pay', 350)])

In [95]:
person.clear()
print(person)

{}

In [101]:
tot = 0
movie = {'광해':[9.24, 1200], '공작':[7.86, 500], '관상':[8.01, 900]}
for r,d in movie.items() :
    if d[0] >= 8.0 :
        print(r, d)
        tot+=d[1]
print('누적관객수 : ', tot)

광해 [9.24, 1200]
관상 [8.01, 900]
누적관객수 :  2100

In [109]:
emp = {'hong': 350, 'lee':450, 'kang':550}
print(emp)
emp['lee'] = 300
print(emp)

if 'kang' in emp :
    print('있음')
else :
    print('없음')

for name, pay in emp.items() :
    print(f'name : {name} => pay {pay}')

{'hong': 350, 'lee': 450, 'kang': 550}
{'hong': 350, 'lee': 300, 'kang': 550}
있음
name : hong => pay 350
name : lee => pay 300
name : kang => pay 550

In [ ]:
제어문
- 분기문
if 조건1 : True
    print
elif 조건2 : True
    print
elif 조건3 : True
    print
.
.
.
else :
    print

print()
반복문
for in
while

In [ ]:
while 조건식 : # True
    실행문 1
    ...
    실행문 n

In [7]:
idx = tot = 0
while idx < 5 :
    idx += 1
    tot += idx
    print('idx = ', idx, 'tot = ', tot)
print('idx 끝')

idx =  1 tot =  1
idx =  2 tot =  3
idx =  3 tot =  6
idx =  4 tot =  10
idx =  5 tot =  15
idx 끝

In [ ]:
# 1 ~ 100까지 3의 배수 합과 원소 추출하기
sum = cnt = 0
dataset = []
while cnt <= 100:
    cnt += 1
    if cnt % 3 == 0 :
        dataset.append(cnt)
        sum += cnt
print('원소 = ', dataset, '3의 배수 합 = ', sum)