### (1) builtins모듈 내장 클래스

#### 리스트

In [2]:
lst = [1,3,5]
# print(enumerate(lst))

for i, c in enumerate(lst) :  # enumerate()-열거형 자료를 순회하여 색인과 값을 반환하는 객제를 생성한다.
    print('i = ', i, 'c = ', c)
    print('내용 :', c)

색인 :  0, 내용 : 1
색인 :  1, 내용 : 3
색인 :  2, 내용 : 5

#### 딕셔너리

In [2]:
dit = {'name' : '홍길동', 'job': '회사원', 'addr':'서울시'}
for i, k in enumerate(dit) :
    # print('색인 : ', i, end=', ', '키 :', k, end=', ', '값 :', dit[k])
    print('색인 : ', i, end=', ')
    print('키 :', k, end=', ')
    print('값 :', dit[k])

색인 :  0, 키 : name, 값 : 홍길동
색인 :  1, 키 : job, 값 : 회사원
색인 :  2, 키 : addr, 값 : 서울시

### (2) datatime 모듈 내장클래스

In [40]:
import  datetime
from datetime import date, time # from 모듈 import 내장 클래스

In [41]:
dt = datetime.datetime.now()
dt

datetime.datetime(2024, 7, 18, 16, 50, 15, 967964)

In [95]:
from datetime import datetime, timedelta
datetime.now()

datetime.datetime(2024, 7, 18, 17, 44, 19, 444994)

In [96]:
print("dt.year : ", dt.year)
print("dt.month : ", dt.month)
print("dt.day : ", dt.day)
print("dt.hour : ", dt.hour)
print("dt.minute : ", dt.minute)
print("dt.second : ", dt.second)
print("dt.microsecond : ", dt.microsecond)

dt.year :  2024
dt.month :  7
dt.day :  18
dt.hour :  17
dt.minute :  37
dt.second :  43
dt.microsecond :  851473

In [97]:
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond

(2024, 7, 18, 17, 37, 43, 851473)

In [98]:
[dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond]

(1, 2, 3)

In [99]:
print("dt.weekday() : ", dt.weekday()) #요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
print("dt.strftime() : ", dt.strftime("%Y-%m-%d %H:%M:%S, %A, %B")) # 시간을 문자열로 반환
print("dt.strftime() : ", dt.strptime("2017-01-02 14:44", "%Y-%m-%d %H:%M")) #  문자열을 시간으로 반환
print("dt.date() : ", dt.date())
print("dt.hour() : ", dt.time())

dt.weekday() :  3
dt.strftime() :  2024-07-18 17:37:43, Thursday, July
dt.strftime() :  2017-01-02 14:44:00
dt.date() :  2024-07-18
dt.hour() :  17:37:43.851473

##### timedelta 클래스와 날짜/시간 연산

In [100]:
dt1 = datetime(2016, 2, 19, 14)
dt2 = datetime(2016, 1, 2, 13)
td = dt1 - dt2
td

print("td.days : ", td.days)
print("td.seconds : ", td.seconds)
print("td.microseconds : ", td.microseconds)
print("td.total_seconds() : ", td.total_seconds())
# print("td.total_seconds() : ", td.total_hours())

td.days :  48
td.seconds :  3600
td.microseconds :  0
td.total_seconds() :  4150800.0

##### datetime.datetime 클래스 객체에 datetime.timedelta 클래스 객체를 더해서 새로운 시간을 구할 수도 있다.

In [101]:
t = datetime(2018, 9, 1, 13)
d = timedelta(days=90, seconds=3600)
t + d

datetime.datetime(2018, 11, 30, 14, 0)