In [12]:
'''
dict 특징 
  - set 자료구조와 유사함
  형식) {'key':value, 'key':value, ...}
  - json 형식, R의 list 동일
  - key 접근만 가능함(index, value 사용 불가)
  - key 중복 불가 
  - 출력 순서 random
'''

"\ndict 특징 \n  - set 자료구조와 유사함\n  형식) {'key':value, 'key':value, ...}\n  - json 형식, R의 list 동일\n  - key 접근만 가능함(index, value 사용 불가)\n  - key 중복 불가 \n  - 출력 순서 random\n"

In [6]:
# dict 생성 방법1
dic = dict(key1 = 100, key2 = 200, key3 = 300)
print(dic) # {'key2': 200, 'key1': 100, 'key3': 300}
print()

# dict 생성 방법2
person = {'name':'홍길동', 'age': 35, 'address' : '서울시'}
print(person)
print()

print( person['name']) # index : key
print()

print(type(dic), type(person)) # <class 'dict'> <class 'dict'>

{'key1': 100, 'key2': 200, 'key3': 300}

{'name': '홍길동', 'age': 35, 'address': '서울시'}

홍길동

<class 'dict'> <class 'dict'>

In [7]:
# 원소 수정, 삭제, 추가
# dict 원소 수정 
person['age'] = 45
print(person)
print()

# dict 원소 삭제
del person['address']
print(person) # {'name': '홍길동', 'age': 45}
print()

# dict 원소 추가 
person['pay'] = 350
print(person) # {'name': '홍길동', 'pay': 350, 'age': 45}
print()

{'name': '홍길동', 'age': 45, 'address': '서울시'}

{'name': '홍길동', 'age': 45}

{'name': '홍길동', 'age': 45, 'pay': 350}

In [9]:
# 요소 검사
print(person['age']) # 35
print('age' in person) # True
print()

# 요소 반복
for key in person.keys() : # key 넘김 
    print(key) # key 출력 
print()

for v in person.values() : # value 넘김 
    print(v) # value 출력  
print()

for i in person.items() : # item 넘김 
    print(i) # ('name', '홍길동')

45
True

name
age
pay

홍길동
45
350

('name', '홍길동')
('age', 45)
('pay', 350)

In [20]:
# 키로 값 가져오기 : get(key)
print( person['name']) # index 형식
print( person.get('name')) # get함수 -> 홍길동

홍길동
홍길동

In [21]:
# 내용 지우기 obj.clear()
person.clear()
print(person) # {}

{}

In [10]:
#  {key : [val1, val2]} - {'영화' : [평점, 관객수]}
movie = {'광해' : [9.24, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}
 
for r in movie.items() :
    print(r)
    print()

('광해', [9.24, 1200])

('공작', [7.86, 500])

('관상', [8.01, 900])

"\n('광해', [9.24, 1200])\n('공작', [7.86, 500])\n('관상', [7.98, 900])\n"

In [11]:
for r, d in movie.items() :
    print(r, d)   
    print()

광해 [9.24, 1200]

공작 [7.86, 500]

관상 [8.01, 900]

'\n광해 [9.24, 1200]\n공작 [7.86, 500]\n관상 [8.01, 900]\n'

In [12]:
#  문] 평점 8이상인 영화 제목과 누적관객수 출력하기 
'''
광해
관상
누적 관객수 =  2,100
'''    
tot = 0
for r, d in movie.items() :
    if d[0]  >= 8.0 :
        print(r)  # 광해 관상
        tot += d[1]
print('누적 관객수 = ', format(tot, '3,d'))
print()

#print(emp)
emp = {'hong' : 350, 'lee' : 450, 'kang' : 550}
print(emp)
print(emp['lee']) # 함수 미사용시
print(emp.get('hong')) # 350 함수 사용시

광해
관상
누적 관객수 =  2,100

{'hong': 350, 'lee': 450, 'kang': 550}
450
350

In [27]:
# dict 원소 수정 
emp['lee'] = 300
print(emp)

{'hong': 350, 'lee': 300, 'kang': 550}

In [28]:
# dict 원소 제거 
del emp['hong']
print(emp)

{'lee': 300, 'kang': 550}

In [29]:
# dict 원소 추가 
emp['yoo'] = 250
print(emp) # {'lee': 300, 'kang': 550, 'yoo': 250}

{'lee': 300, 'kang': 550, 'yoo': 250}

In [13]:
if 'kang' in emp : 
    print('있음')
else : 
    print('없음')
print()

for name, pay in emp.items():
    print(f"name : {name} => pay {pay}")

있음

name : hong => pay 350
name : lee => pay 450
name : kang => pay 550