In [ ]:
'''
반복문(for)

형식)
for 변수 in 열거형data :
    실행문
    실행문
    
제너레이터식 : 변수 in 열거형data(object)  
열거형data(iterable) : string,list,tuple,set,dict  
'''

In [1]:
# 문자열 열거형객체 이용
string = "홍길동"

# 1문자 -> 변수 넘김 : 3회
print(len(string)) # 3

for s in string : 
    print(s) # 나는 홍길동 입니다.

print() # line skip

3
홍
길
동

In [2]:
# split -> 변수 넘김 : 3회 
for s in string.split() : # sep=' '
    print(s, end=' ') # 나는 홍길동 입니다.
     
print()

홍길동

In [3]:
# list 열거형객체 이용
lstset = [1,2,3,4,5] # 1차원(vector)

for e in lstset :
    print('원소 : ', e)

원소 :  1
원소 :  2
원소 :  3
원소 :  4
원소 :  5

In [1]:
num1 = list(range(1,11))
print(num1)

for e in num1 : # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    print(e)

num1 :  range(0, 10)
num2 :  range(1, 10)
num3 : range(1, 10, 2)
0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 3 5 7 9 num2 :  range(1, 5)
[1, 2, 3, 4]

In [5]:
lst = list(range(1,101)) # 1 ~ 100
print('lst :', lst)
lst2 = [] # 빈list

for i in lst : # 100회 
    if i % 5 == 0 :
        print(i, end = ' ') 
        lst2.append(i)   
# 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
print()
print(lst2)
# [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

lst : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [6]:
# 문) lst(1~100) 중에서 3의 배수만  lst3 추가/출력 
lst3 = []

for i in lst :
    if i % 3 == 0 :
        lst3.append(i)
        
print(lst3, end = ' ')        

print()

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [11]:
# 중첩 반복문
# 구구단 출력(2, 3, 5)
for i in [2, 3, 5]:
    # 바깥쪽 영역
    print('~~~ {}단 ~~~'.format(i))
    for j in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
        # 안쪽 영역
        print('%d * %d = %d' % (i, j, i * j))

~~~ 2단 ~~~
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
~~~ 3단 ~~~
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
~~~ 5단 ~~~
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [12]:
# 구구단 출력 : range() 함수 이용
for i in range(2, 10):
    # 바깥쪽 영역
    print('~~~ {}단 ~~~'.format(i))
    for j in range(1, 10):
        # 안쪽 영역
        print('%d * %d = %d' % (i, j, i * j))

~~~ 2단 ~~~
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
~~~ 3단 ~~~
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
~~~ 4단 ~~~
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
~~~ 5단 ~~~
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
~~~ 6단 ~~~
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
~~~ 7단 ~~~
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
~~~ 8단 ~~~
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
~~~ 9단 ~~~
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [15]:
'''
for 변수 in data1 :  -> 문장
    실행문 -> 문장 저장  
    for 변수 in data2: ->  단어 
        실행문 -> 단어 저장 
'''

string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

sents = [] # 문장 저장
words = [] # 단어 저장

for sen in string.split(sep = "\n") : # 문단 -> 문장
    sents.append(sen)
    for word in sen.split() : # 문장 -> 단어
        words.append(word)

        
print('문장 :',  sents)
print('문장수 :', len(sents))
print('단어 :', words)
print('단어수 :', len(words))

문장 : ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
문장수 : 3
단어 : ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']
단어수 : 9

"\n문장 : ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']\n단어 : ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']\n단어수 : 9\n문장:단어 [{'나는 홍길동 입니다.': '나는'}, {'나는 홍길동 입니다.': '홍길동'}, {'나는 홍길동 입니다.': '입니다.'}, {'주소는 서울시 입니다.': '주소는'}, {'주소는 서울시 입니다.': '서울시'}, {'주소는 서울시 입니다.': '입니다.'}, {'나이는 35세 입니다.': '나이는'}, {'나이는 35세 입니다.': '35세'}, {'나이는 35세 입니다.': '입니다.'}]\n"